<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>vrpn web interface</title>\
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='helper.js') }}"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
	
</head>
<body>

	<div class="container">
		<h3>VRPN Web UI</h3>
		
		<h4>Analogs</h4>
		<hr style="margin-bottom:5px">
		<div id="analog_controls">
			Analog Value:<input id="analogInputBox" type="text" value="0">
			<input type="submit" id="analogSubmitButton" value="Update Analog"><br>
		</div> <!-- END analog_controls -->
		
		<h4>Buttons<h4>
		<hr style="margin-bottom:5px">
		<div id="button_controls">
			<input data-vrpn-button="0" type="button" value="Button 0">
			<input data-vrpn-button="1" type="button" value="Button 1">
			<input data-vrpn-button="2" type="button" value="Button 2">
		</div><!-- END button_controls -->
	</div><!-- END container -->
	

	<script>
	$(document).ready(function() {
		findAndActivateButtons();
		setAnalogBehavior($("#analogSubmitButton"),$("#analogInputBox"),0);
		//makeButton(4, "Button 4");
		//makeAnalogInput("Dynamic Analog",12,1);
	});
	</script>

</body>
</html>
