<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>vrpn web interface</title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--Jquery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--external JavaScript functions-->
	<script src="{{ url_for('static', filename='helper.js') }}"></script>
	<!--Jquery UI -->
	<script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.js') }}"></script>
	<!--required for touch devices (Jquery UI does not support touch)-->
	<script src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
	<!--Skeleton CSS (3)-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
	<!--Jquery UI CSS-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='smoothness/jquery-ui-1.10.3.custom.css') }}">
		
</head>
<body>
	<div class="container" style="margin-top:2%;">
		
		<h2>VRPN Web UI</h2>
		<div class="mainContent">
		
		<h4>Text</h4>
		<hr style="margin-bottom:5px">
		<div id="text_controls"></div> 
		
		<h4>Analogs (VRPN Analog Channels)</h4>
		<hr style="margin-bottom:5px">
		<div id="analog_controls"></div> <br>

		<h4>Buttons (VRPN Buttons)</h4>
		<hr style="margin-bottom:5px">
		<div id="button_controls"></div>

		
	</div><!-- END container -->
	
	<script>
	<!--document ready function creates objects and events for html-->
	$(document).ready(function() {
		//create a text input box  - makeTextFormInput(Label, default_text)
		makeTextFormInput("ValueByText","Sample Text").appendTo("#text_controls");
		//create an analog input box - makeAnalogFormInput(label, defaultVal, VRPN_analog_channel)
		makeAnalogFormInput("Dynamic Analog",0,0).appendTo("#analog_controls");
		//create a button - makeButton(button_name, VRPN_button_number)
		makeButton("Button 0",0).appendTo("#button_controls");
		//create a toggle switch button - makeToggleSwitch(VRPN_button_number, label, state1, state2)
		makeToggleSwitch(12,"My Switch Box","Enable","Disable").appendTo("#button_controls");
		//create an analog slider - makeAnalogSlider(label, VRPN_analog_channel, lower_value, upper_value)
		makeAnalogSlider("Slider Label",10,0,1).appendTo("#analog_controls");
		//create a set of toggle buttons in a grid (2 steps)
		//1) create a list of button labels with VRPN_button_numbers
		var myGridButtons = [["button_15", 15], ["button_16", 16], ["button_17", 17]];
		//2) create grid - makeGridButtonList(label,listOfButtons)
		makeGridButtonList("My grid of Toggle Buttons",myGridButtons).appendTo("#button_controls");	
	});
	</script>
</body>
</html>