<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>vrpn web interface</title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--Jquery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--external JavaScript functions-->
	<script src="{{ url_for('static', filename='helper.js') }}"></script>
	<!--Jquery UI -->
	<script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.js') }}"></script>
	<!--required for touch devices (Jquery UI does not support touch)-->
	<script src="{{ url_for('static', filename='jquery.ui.touch-punch.min.js') }}"></script>
	<!--Skeleton CSS (3)-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
	<!--Jquery UI CSS-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='smoothness/jquery-ui-1.10.3.custom.css') }}">

</head>
<body>
	<div class="container" style="margin-top:2%;">
	<h3>VRPN Web UI</h3>
	<h4>Analogs</h4>
	<hr style="margin-bottom:5px">
	<div id="analog_controls">
		<input id="analogInputBox" type="text" value="0" style="display: inline-block;">
		<input type="button" id="analogSubmitButton" value="Update Analog"><br>
	</div> <!-- END analog_controls -->
	<br>
	<h4>Buttons (VRPN Buttons)</h4>
	<hr style="margin-bottom:5px">
	<div id="button_controls">
		<input data-vrpn-button="0" type="button" value="Button 0">
		<input data-vrpn-button="1" type="button" value="Button 1">
		<input data-vrpn-button="2" type="button" value="Button 2">
	</div><!-- END button_controls -->
	<br>
	
	<h4>Analog Slider (VRPN Analog)</h4>
	<hr style="margin-bottom:5px">
	<div id="slider_controls"></div>
	<br>
	
	<h4>Toggle Button (VRPN Button)</h4>
	<hr style="margin-bottom:5px">
	<div id="radio_controls"></div>
	<br>
	
	<h4>Grid Toggles (VRPN Buttons)</h4>
	<hr style="margin-bottom:5px">
	<div id="grid_controls"></div>
	
	<ol id="selectable">
		<li vrpn-button-number="11" id="one" class="ui-widget-content">Item 1</li>
		<li vrpn-button-number="12" id="two" class="ui-widget-content">Item 2</li>
		<li vrpn-button-number="13" id="three" class="ui-widget-content">Item 3</li>
		<li vrpn-button-number="14" id="four" class="ui-widget-content">Item 4</li>
		<li vrpn-button-number="15" id="five" class="ui-widget-content">Item 5</li>
		<li vrpn-button-number="16" id="six" class="ui-widget-content">Item 6</li>
	</ol>
		
	</div><!-- END container -->
	
	<script>
	<!--document ready function creates objects and events for html-->
	$(document).ready(function() {
	
		setGridButtonListBehavior($("#selectable"));
		makeToggleSwitch(12,"My Switch Box","Enable","Disable").appendTo("#radio_controls");
		makeAnalogSlider("SliderLabel",10).appendTo("#slider_controls");
		findAndActivateButtons();
		
		makeButton("Button 3",3).appendTo("#button_controls");
		makeButton("Button 4",4).appendTo("#button_controls");
		makeAnalogFormInput("Dynamic Analog",12,1).appendTo("#analog_controls");
		
		//manual operations
		setAnalogFormBehavior($("#analogSubmitButton"),$("#analogInputBox"),0);
	});
	</script>
</body>
</html>